:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.summary {
  margin-top: 100px;
  width: 95%;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.summary .b-type {
  font-size: 15px;
  color: #c9c9c9;
}

.summary .b-type span {
  color: #888;
}

.summary .b-price {
  margin-top: 3px;
}

.summary .b-price #price {
  font-size: 54px;
  font-weight: 500;
}

.summary .b-price #unit {
  font-size: 36px;
  color: #e1e1e1;
  font-weight: 500;
  font-style: italic;
}

.summary .b-date {
  font-size: 16px;
  color: #888;
  margin-top: 3px;
}

#svg-container {
  border-bottom: 1.5px dashed rgb(255, 255, 255, 0.2);
  border-left: 1.5px dashed rgb(255, 255, 255, 0.2);
  margin-top: 15px;
  width: 95%;
  max-width: 830px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 95%;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

#date-start {
  font-size: 12px;
  color: #888;
  margin-left: 20px;
}

#date-end {
  font-size: 12px;
  color: #888;
  margin-right: 20px;
}
